section(title="Caractéristiques")

    section
        script(src="wave-generator/wave-generator.js" type="module")
        wave-generator 

    section(title="Intensité ↔ Amplitude")
        p Généralement, valeurs codées dans $[-1;1]$

    section(title="Hauteur ↔ Fréquence")
        p Oreille humaine moyenne : $[20Hz ; 20kHz]$
    
    section(title="Timbre ↔ Forme d'onde")
        p Permet de différencier les voix, les instruments