section(title="Du continu au discret")

    section(title="Quantification")
        script(src="wave-quantization/wave-quantization.js" type="module")
        wave-quantization

    section(title="Échantillonage")
        script(src="wave-sampling/wave-sampling.js" type="module")
        wave-sampling

    section(title="Problème")
        script(src="wave-nyquist/wave-nyquist.js" type="module")
        wave-nyquist 

    section(title="Hélicoptère")
        script(src="sub-sampling/sub-sampling.js" type="module")
        sub-sampling

    section(title="Sous-Échantillonage")
        script(src="wave-sampling/wave-sampling.js" type="module")
        wave-sampling
        p.fragment Théorème de Nyquist-Shannon : $F_e \geq 2 \cdot f_{max}$