section(title="Représentation temporelle")
    h3 Onde sonore
    svg#waveform

    script.
        let sr = 44100
        let svg = SVG('#waveform').viewbox(0, 0, 10, 2).viewrange(0, 0.02, -1.05, 1.05)
        let t = new Array(1 * sr).fill().map((_, i) => i / sr)
        let y = t.map((t, _) => Math.cos(2 * Math.PI * 440 * t))
        let path = svg.getPath(t.slice(0, 1000), y.slice(0, 1000))
        svg.path().plot(path)

    include propagation.pug
    include caracteristiques.pug
    include discrete.pug