section(title="Représentation temporelle")
    h3 Onde sonore
    svg#waveform

    script.
        SVG.Svg.prototype.viewrange = function(xMin, xMax, yMin, yMax) {
            this.xMin = xMin
            this.xMax = xMax
            this.yMin = yMin
            this.yMax = yMax
            return this
        }

        SVG.Svg.prototype.scale = function(point) {
            let xPerc = (point.x - this.xMin) / (this.xMax - this.xMin)
            let yPerc = (point.y - this.yMin) / (this.yMax - this.yMin)
            return {x: xPerc * this.viewbox().width, y: this.viewbox().height * (1 - yPerc)}
        }

        SVG.Svg.prototype.getPath = function(x, y) {
            return y.reduce(
            (acc, curr, k) => {
                let point = this.scale({x: x[k], y: curr})
                if(k == 0) return `M ${point.x} ${point.y} `
                return acc + `L ${point.x} ${point.y} `
            }, '')
        }

    script.
        let sr = 44100
        let svg = SVG('#waveform').viewbox(0, 0, 10, 2).viewrange(0, 0.02, -1.05, 1.05)
        let t = new Array(1 * sr).fill().map((_, i) => i / sr)
        let y = t.map((t, _) => Math.cos(2 * Math.PI * 440 * t))
        let path = svg.getPath(t.slice(0, 1000), y.slice(0, 1000))
        svg.path().plot(path)

    include propagation.pug
    include caracteristiques.pug
    include discrete.pug