section(title="Propagation")

    script(src="wave-propagation/wave-propagation.js" type="module")
    wave-propagation

    blockquote.fragment 
        p(style="font-style: normal;")
            span(style="font-style: italic").fragment [C'est grâce à la propagation longitudinale de la vibration mécanique d'un fluide que] 
        
            span(style="font-weight:500") j'entends le loup, le renard et la belette

        footer Tri Yann