section(title="Cours 10")

    blockquote 
        p Vas-y DJ fais péter le son
        footer Fatal Bazooka

    include time/index.pug
    include frequency/index.pug
    include time-frequency/index.pug
    include effects/index.pug

    include outro