section(title="Leçon: le son")

    //- blockquote 
    //-     p Vas-y DJ fais péter le son
    //-     footer Fatal Bazooka

    include time/index.pug
    include frequency/index.pug
    include time-frequency/index.pug
    include effects/index.pug

    include outro