section(title="Représentation fréquentio-temporelle")
    h3 Transformée de Fourier à Court Terme

    blockquote 
        p Le coupé-décalé du traitement du signal
        footer Télérama

    include motivations.pug
    include stft.pug
    include spectrogram.pug