section(title="Transformée de Fourier à Court Terme")

    section(title="Définition")
        p.
            <![CDATA[
            $$ 
            \begin{aligned}
                \mathcal{X}(m, k) = \sum_{n = 0}^{N-1} x(n + mH)w(n)\exp(-2 \pi i k n / N) 
                \qquad 	k &= 0, 1, \dots, N - 1 \\
                        m &= 0, 1, \dots, \lfloor \frac{L-N}{H} \rfloor
            \end{aligned}
            $$
            ]]>

        ul 
            li.fragment $T(m) \triangleq \frac{m \cdot H}{f_{ech}}$
            li.fragment $F(k) \triangleq \frac{k \cdot f_{ech}}{N}$


    section(title="Inverse")
        p Existe, sous certaines conditions