section(title="Méthodes par Deep Learning")

    section(title="U-Net, le retour")

        figure
            img(src="img/unet.png", alt="", srcset="", style="filter: invert(0.9)")

            figcaption

    section(title="Rappels")

        figure(style='width:500px') 
            img(src="https://maucher.home.hdm-stuttgart.de/Pics/gif/no_padding_strides.gif", alt="", srcset="")
            figcaption Illustration d'une couche de convolution 2D (Dr. Johannes Maucher)