section(title="Méthodes par Deep Learning")

    section(title="U-Net, le retour")

        figure
            img(src="img/unet.png", alt="", srcset="", style="filter: invert(0.9)")

            figcaption