section(title="Séparation de sources musicales")

    include introduction
    include bases
    include modelisation
    include deep
    include ressources

    section(title="La fin ?")

        figure 
            img(src="img/qr-code.svg", alt="", srcset="")