<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<style>
		@media (prefers-color-scheme: dark) {
			body {
				background-color: black;
			}
		}
	</style>

	<script src="wave_visualizer.js" type="module"></script>
	<script src="wave_generator2.js" type="module"></script>
	<wave-generator sr="44100"></wave-generator>
</body>
</html>