<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<style>
		@media (prefers-color-scheme: dark) {
			body {
				background-color: black;
			}
		}
	</style>
	<!-- <script src="wave_propagation.js"></script> -->
	<!-- <wave-propagation></wave-propagation> -->

	<script src="wave_visualizer.js" type="module"></script>
	<wave-visualizer></wave-visualizer>
	<input type="range" name="Fs" id="Fs" min="12" step="1" max="100" value="30">
	<script>
		window.customElements.whenDefined('wave-visualizer').then(() => {
			let wave = document.querySelector('wave-visualizer')
			
			let A = 0.5
			let Fs = 22
			let f = 12
			let t = Array(Math.round(3 * Fs / f)).fill().map((_, i) => 10 * i/Fs)
			let y = t.map(t => A * Math.cos(Math.PI * 2 * f * t/10))
			let plot1 = wave.plot(t, y, 'scatter')
			plot1.r = .02
			
			let Fss = 1000
			t = Array(Math.round(3 * Fss / f)).fill().map((_, i) => 10 * i/Fss)
			y = t.map(t => A * Math.cos(Math.PI * 2 * f * t/10))
			let plot2 = wave.plot(t, y, 'plot')
			plot2.strokeWidth = .001
			
			y = t.map(t => A * Math.cos(Math.PI * 2 * Math.min((Fs - f), f) * t/10))
			let plot3 = wave.plot(t, y, 'plot')
			plot3.strokeWidth = .001
			plot3.color = 'red'

			document.querySelector('#Fs').addEventListener('change', (e) => {
				let Fs = e.target.value
				plot3.y = t.map(t => A * Math.cos(Math.PI * 2 * Math.min((Fs - f), f) * t/10))
				plot3.render()

				plot1.erase()
				plot1.t = Array(Math.round(3 * Fs / f)).fill().map((_, i) => 10 * i/Fs)
				plot1.y = plot1.t.map(t => A * Math.cos(Math.PI * 2 * f * t/10))
				plot1.render(wave)
				plot1.r = .02
			})
		})
	</script>

	<!-- <script src="wave_generator.js" type="module"></script>
	<wave-generator sr="8000"></wave-generator> -->
</body>
</html>