section(title="Filtres")

    section(title="Passe-bas")
        figure
            img(src="generated/effects/lp.png")
            figcaption Coupure des fréquences au delà de $1000Hz$
            audio(src="generated/effects/y_lp_ex.wav" controls) 
            audio(src="generated/effects/y_lp_res.wav" controls) 

    section(title="Passe-haut")
        figure
            img(src="generated/effects/hp.png")
            figcaption Coupure des fréquences en deçà de $1000Hz$
            audio(src="generated/effects/y_hp_ex.wav" controls) 
            audio(src="generated/effects/y_hp_res.wav" controls) 

    section(title="Compression")
        figure
            img(src="generated/effects/comp.png")
            figcaption Décimation des plus faibles coefficients de Fourier
            audio(src="generated/effects/y_comp_ex.wav" controls) 
            audio(src="generated/effects/y_comp_res.wav" controls) 