section(title="Effets audio")

    blockquote 
        p But I knew I needed a click, so we put a click on the 24-track
            br
            | Which then was synced to the Moog Modular
            br
            | I knew that could be a sound of the future
            br
            | But I didn't realize how much the impact would be
        footer Giovanni Giorgio, but everybody calls him Giorgio

    include filters.pug
    include time-stretch.pug