section(title="Complexité")

    pre.language-matlab
        code
            include algorithm.m

    p $$ C = n_\text{pics par extrait} \times n_v \times \frac{ n_\text{chansons} \times n_\text{pics par chanson} \times n_v }{2^{32}}$$