section(title="Empreintes")

	script(src="slide-pair/slide-pair.js")
	slide-pair

	p On associe un pic $(m_0, k_0)$ au pic $(m ,k)$ si :
	ul
		li $0 \lt m - m_0 \le \delta_t$
		li $|k - k_0| \le \delta_f$
	p On ne garde que $n_v$ paires, constitués des pics les plus proches
