section(title="Stockage des empreintes")
    table
        tr
            th $(k_i, k_j, m_j - m_i)$
            th $m_i$
            th morceau n°

        tr 
            td $(45,23,52)$
            td 2
            td 1

        tr 
            td $\vdots$
            td $\vdots$
            td $\vdots$

        tr 
            td $(245, 249, 78)$
            td 51
            td 132