section(title="Stockage des empreintes")
    table
        tr
            th $k$
            th $m$
            th morceau n°

        tr 
            td 45
            td 2
            td 1

        tr 
            td $\vdots$
            td $\vdots$
            td $\vdots$

        tr 
            td 245
            td 51
            td 132