section(title="Stockage des empreintes")
    table
        tr
            th morceau n°
            th $m$
            th $k$

        tr 
            td 1
            td 2
            td 45

        tr 
            td $\vdots$
            td $\vdots$
            td $\vdots$

        tr 
            td 132
            td 51
            td 245