section(title="Fonctionnement général")

    section
        figure
            img(src="figures/diagram.svg", alt="")

    section
        iframe(src="figures/Wang03-shazam.pdf" scrolling="yes" width="60%" style="aspect-ratio: 42/29.7")