:root {
	--ratio: 1.3;
	--r-main-font-size: 20px;
	--r-heading4-size: calc(var(--r-main-font-size) * var(--ratio));
	--r-heading3-size: calc(var(--r-heading4-size) * var(--ratio));
	--r-heading2-size: calc(var(--r-heading3-size) * var(--ratio));
	--r-heading1-size: calc(var(--r-heading2-size) * var(--ratio));
	/* --r-heading-font: 'Latin Modern Math'; */
	/* --r-heading-font: 'Helvetica'; */
	--r-heading-text-transform: none;
}