section(title="Complexité")

    pre.language-matlab
        code
            include algorithm.m

    p $$ C = n_\text{chansons} \times n_\text{décalages} \times n_\text{pics par chanson} \times n_\text{pics par extrait} $$