section(title="Empreintes")

    script(src="max-filter/max-filter.js")
    max-filter

    p.
        $$
        (m_0, k_0) \quad / \quad
        \begin{cases}
        \forall m \in [m_0 - \frac{\eta_t}{2}, m_0 + \frac{\eta_t}{2}] \\
        \forall k \in [k_0 - \frac{\eta_f}{2}, k_0 + \frac{\eta_f}{2}]
        \end{cases}
        \quad
        S_{dB}(m_0, k_0) \ge \max \left\{ S_{dB}(m,k), \epsilon \right\}
        $$