section(title="Représentation fréquentielle")
    h3 Transformée de Fourier
    script(src="fourier-series/fourier-series.js") 
    fourier-series

    include motivations.pug
    include inner_product.pug
    include dft.pug
    include windowing.pug