section()

    section(title="Motivations")
        p Représentation qui permet de manipuler la hauteur / le timbre

    section(title="Objectifs")
        p Retrouver les différentes fréquences présentes dans un signal

    section(title="Décomposition")
        ul
            li.fragment(data-fragment-index="1") Existence de fonctions permettant une décomposition fréquentielle ?
                span.fragment.response(data-fragment-index="5") Oui !
            li.fragment(data-fragment-index="2") Lequelles choisir ?
                span.fragment.response(data-fragment-index="4") Des sinusoïdes ! 
            li.fragment(data-fragment-index="3") Algorithme ?
                span.fragment.response(data-fragment-index="6") Mais c'est formidable ! 
