section(title="Fuite spectrale")

    section(title="Problème")
        inner-product#windowing
        input-range#freqRange(min=0, max=10, style="display: inline-flex")

        script(type="module").
            window.customElements.whenDefined('inner-product').then(() => {
                let inner_product   = document.querySelector('inner-product#windowing')
                let freqRange       = document.querySelector('#windowing + #freqRange')
                let exact = true
                
                inner_product.f2 = inner_product.t.map((t, _) => Math.sin(2 * Math.PI * freqRange.value * t))
                inner_product.update()

                inner_product.addEventListener('click', () => {
                    exact = !exact
                    if (exact) {
                        inner_product.f1 = inner_product.t.map((t, _) => Math.sin(2 * Math.PI * 4 * t))
                    } else {
                        inner_product.f1 = inner_product.t.map((t, _) => Math.sin(2 * Math.PI * 4.1 * t))
                    }
                    inner_product.update()
                })

                freqRange.addEventListener('input', () => {
                    inner_product.f2 = inner_product.t.map((t, _) => Math.sin(2 * Math.PI * freqRange.value * t))
                    inner_product.update()
                })
            })

    section(title="Solution")
        script(type="module", src="dft-plot/dft-plot.js") 
        dft-plot